@import "bootstrap/scss/bootstrap-grid";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

// .row + .row {
//   margin-top: 5px;
// }

// .row > .col,
// .row > [class^=col-] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, .15);
//   border: 1px solid rgba(86, 61, 124, .2);
// }

$grid-breakpoints: (
  xs: 0,
  sm: 1200px,
  md: 1440px,
  lg: 1920px,
);

.container {
  margin-bottom: 20px;
}

@font-face {
  font-family:'AbhayaLibre';
  src: url('../fontes/AbhayaLibre-Regular.woff2');
}
@font-face {
  font-family:'AbhayaLibre_bold';
  src: url('../fontes/AbhayaLibre-ExtraBold.woff2');
}

body {
  font-family:'AbhayaLibre';
  background-image: url(../images/background\ clouds.svg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4);
  background-attachment: fixed;

}

.header_content {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  background-color: white;
  backdrop-filter: blur(2px);
}
.header_logo {
 width: 80px;
}
.header_mid_section {
 display: flex;
 gap: 25px;
}
.header_icons {
  display: flex;
  align-items: center;
  gap: 31px;
}
a {
  text-decoration: none;
}
.h_icons {
  text-decoration: none;
}
.h_icons_2 {
  text-decoration: none;
}


.section_notre_selection {
  background: linear-gradient(180deg, rgba(238, 190, 120, 0.50) 18.5%, rgba(255, 255, 255, 0.47) 100%);
backdrop-filter: blur(2px);
}
.accueil_catchphrase {
  font-family:'AbhayaLibre_bold';
  text-align: center;
  margin-top: 65;
}
.section_notre_selection img {
  width: 354px;
  margin-top: 55px;
  background: linear-gradient(180deg, rgba(238, 190, 120, 0.50) 18.5%, rgba(255, 255, 255, 0.47) 100%);
}
.button_1 {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.section_notre_selection button {
  display: flex;
  width: 276px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
 border: 1px solid var(--Noir, #000);
 font-family:'AbhayaLibre_bold';
 font-size: 20px;
 background-color: rgb(247, 239, 226);
}
.section_notre_selection img
{
  border-radius: 80px 0px;
}

.section_notre_gamme {
  margin-top: 100px;
  background-color: #FFFFFF;
  padding-top: 55px;
  padding-bottom: 80px;
}
.fleche {
  padding-left: 30px;
}
.fleche_1 {
  display: flex;
 justify-content: right;
}
.titre_2
{
  font-family:'AbhayaLibre_bold';
   font-size: 24px;
}
.section_notre_gamme .titre{
  font-family:'AbhayaLibre_bold';
  font-size: 24px;
  font-weight: 400;
  margin-top: 90px;
}
.section_notre_gamme .description{
  padding-top: 50px;
}
.section_notre_gamme .boutons {
  margin-top: 30px;
}
.section_notre_gamme button {
  font-family:'AbhayaLibre_bold';
  border: 1px solid var(--Noir, #000);
  padding: 15px 10px;
  background-color: white;
  gap: 10px;
  display: flex;
  
}

.zone .nos_valeurs {
  margin-top: 30px;
  background: linear-gradient(180deg, rgba(159, 0, 11, 0.90) 0%, rgba(94, 21, 26, 0.90) 53.5%);
  padding-top: 40px;
}
.zone .nos_valeurs .titre {
  color: #FFF;
 font-family: "Abhaya Libre ExtraBold";
font-size: 30px;
font-weight: 800;
margin: 17px;
}
.zone .nos_valeurs .etiquette {
  margin-top: 30px;
  margin: 17px;
  display: flex;
 width: 172px;
 height: 65px;
 flex-direction: column;
 justify-content: center;
 color: #FFF;
 font-family: "Abhaya Libre ExtraBold";
 font-weight: 800;
 line-height: normal;
 border: 1px solid #FFF;
 padding: 14px;
}
.zone .nos_valeurs .card {
  display: flex;
  width: 277px;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: rgba(255, 255, 255, 0.62);
  margin: 17px;
}
.zone .nos_valeurs .card button {
  display: flex;
 padding: 15px 10px;
 justify-content: center;
 align-items: center;
 gap: 10px;
 border: 1px solid #FFF;
 color: #FFF;
text-align: center;
font-family: "Abhaya Libre ExtraBold";
font-size: 20px;
font-style: normal;
font-weight: 800;
background-color: rgba(208, 196, 196, 0.62);
}

.zone .vignerons .titre {
  display: flex;
height: 91px;
flex-direction: column;
justify-content: center;
color: var(--Noir, #000);
font-family: "Abhaya Libre ExtraBold";
font-size: 30px;
font-weight: 800;
}
.zone .vignerons .noms {
 font-family: "Abhaya Libre ExtraBold";
 font-size: 16px;
 font-weight: 800;
}
.zone .vignerons .nom {
  display: flex;
  background-color: white;
  height: 65px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.zone .vignerons .etiquettes {
  display: flex;
  width: 350px;
  height: 323px;
  padding: 0px 20px;
  padding-top: 35px;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
 font-size: 13.5px;
 font-weight: 500;
  background: linear-gradient(180deg, #74292E 0%, #DA4D56 100%);
}
.zone .vignerons button {
  display: flex;
 padding: 15px 10px;
 justify-content: center;
 align-items: center;
 gap: 10px;
 border: 1px solid #FFF;
 color: #FFF;
 text-align: center;
 font-family: "Abhaya Libre ExtraBold";
 font-size: 20px;
 font-weight: 800;
 background-color: #B8222C;
 margin-top: -85px;
 margin-left: 15px;
}

.zone .produits {
  background: linear-gradient(180deg, #74292E 69%, #B8222C 100%);
  padding-top: 20px;
}
.zone .produits .titre {
  display: flex;
height: 91px;
flex-direction: column;
justify-content: center;
flex: 1 0 0;
color: var(--Blanc, #FFF);
font-family: "Abhaya Libre ExtraBold";
font-size: 30px;
font-weight: 800;
margin: 72px 0px;
}
.zone .produits button {
 display: flex;
 width: 100%;
 margin-top: 72px;
 margin-bottom: 30px;
 padding: 15px 10px;
 justify-content: center;
 gap: 10px;
 border: 1px solid #FFF;
 color: #FFF;
 text-align: center;
 font-family: "Abhaya Libre ExtraBold";
 font-size: 20px;
 font-weight: 800;
 background-color: #B8222C;
}