@import "bootstrap/scss/bootstrap-grid";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

// .row + .row {
//   margin-top: 5px;
// }

// .row > .col,
// .row > [class^=col-] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, .15);
//   border: 1px solid rgba(86, 61, 124, .2);
// }

$grid-breakpoints: (
  xs: 0,
  sm: 1200px,
  md: 1440px,
  lg: 1920px,
);

.container {
  margin-bottom: 20px;
}

@font-face {
  font-family:'AbhayaLibre';
  src: url('../fontes/AbhayaLibre-Regular.woff2');
}
@font-face {
  font-family:'AbhayaLibre_bold';
  src: url('../fontes/AbhayaLibre-ExtraBold.woff2');
}

body {
  font-family:'AbhayaLibre';
  background-image: url(../images/background\ clouds.svg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4);
  background-attachment: fixed;

}

.header_content {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  background-color: white;
  backdrop-filter: blur(2px);
}
.header_logo {
 width: 80px;
}
.header_mid_section {
 display: flex;
 gap: 25px;
}
.header_icons {
  display: flex;
  align-items: center;
  gap: 31px;
}
a {
  text-decoration: none;
}
.h_icons {
  text-decoration: none;
}
.h_icons_2 {
  text-decoration: none;
}


.section_notre_selection {
  background: linear-gradient(180deg, rgba(238, 190, 120, 0.50) 18.5%, rgba(255, 255, 255, 0.47) 100%);
backdrop-filter: blur(2px);
}
.accueil_catchphrase {
  font-family:'AbhayaLibre_bold';
  text-align: center;
  margin-top: 65;
}
.section_notre_selection img {
  width: 354px;
  margin-top: 55px;
  background: linear-gradient(180deg, rgba(238, 190, 120, 0.50) 18.5%, rgba(255, 255, 255, 0.47) 100%);
}
.button_1 {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.section_notre_selection button {
  display: flex;
  width: 276px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
 border: 1px solid var(--Noir, #000);
 font-family:'AbhayaLibre_bold';
 font-size: 20px;
}
.section_notre_selection img
{
  border-radius: 80px 0px;
}

.section_notre_gamme {
  margin-top: 100px;
  background-color: #FFFFFF;
}

