@import "bootstrap/scss/bootstrap-grid";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.row + .row {
  margin-top: 5px;
}

.row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

$grid-breakpoints: (
  xs: 0,
  sm: 1200px,
  md: 1440px,
  lg: 1920px,
);

.container {
  margin-bottom: 20px;
}

@font-face {
  font-family:'AbhayaLibre';
  src: url('../fontes/AbhayaLibre-Regular.woff2');
}
@font-face {
  font-family:'AbhayaLibre_bold';
  src: url('../fontes/AbhayaLibre-ExtraBold.woff2');
}

body {
  font-family:'AbhayaLibre';
}

.header_content {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
}
.header_logo {
 width: 80px;
}
.header_mid_section {
 display: flex;
 gap: 25px;
}
.header_icons {
  display: flex;
  align-items: center;
  gap: 31px;
}
a {
  text-decoration: none;
}
.h_icons {
  text-decoration: none;
}
.h_icons_2 {
  text-decoration: none;
}